
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #3f3d3d; */
    height: 100vh;

}
.calculator {
padding: 20px;
background-color: rgb(67, 64, 64);
border-radius: 20px;
border: 3px solid #000;
}
.btn {
    width: 60px;
    height: 60px;
    margin: 10px;
    border: 0;
    border-radius: 10px;
    outline: 0;
    font-size: 20px;
    cursor: pointer;
   
}
.display {
    display: flex;
    justify-content: center;
}
.display input {
padding: 20px 40px;
 text-align:end;
font-size: 20px;
font-weight: 600;
border-radius: 10px;
outline: 0;
background-color: transparent;
color: #fff;
}
.btn:hover{
    color: #fff;
    background-color: rgb(69, 191, 202);
    transition: ease-in .15s;
}
.or {
    color: rgb(0, 0, 0);
    background-color: rgb(221, 90, 29);
}
.gr {
    color: rgb(255, 255, 255);
    background-color: rgb(163, 22, 182);
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 50px;
}
